<body>
    <div class="topnav">
        <div class="example-button-row">
          <button routerLink="/admin" mat-button color="accent">Back</button> &nbsp;
          <button routerLink="/admin" mat-button color="primary">Sign In</button> &nbsp;
          <button routerLink="/owner" mat-button color="accent">Sign Up</button> &nbsp;
          <!-- <button routerLink="/user" mat-button color="primary">Registration</button> &nbsp; -->
          <button routerLink="/user" mat-button color="warn">Hotel List</button> &nbsp;
        </div>
      </div>
    </body>